#dicef {
    width: 30px;
    border: 3px solid black;
    background-color: red;
    color: white;
    padding: 20px;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
}

#diced {
    width: 30px;
    border: 3px solid black;
    background-color: blue;
    color: white;
    padding: 20px;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
}

#dicea {
    width: 30px;
    border: 3px solid black;
    background-color: yellowgreen;
    color: white;
    padding: 20px;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
}

input[id=reroll] {
    margin-left: 40px;
    margin-top: 10px;
}
