#lacaja {
    width: 100%;
    float: left;
}

#dicef {
    position: relative;
    width: 6%;
    height: 12%;
    border: 0.25vw solid black;
    background-color: crimson;
    margin-left: 33%;
    margin-top: 2%;
    float: left;
}
  
#dicef:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#diced {
    position: relative;
    width: 6%;
    height: 12%;
    border: 0.25vw solid black;
    background-color: dodgerblue;
    margin-left: 5%;
    margin-top: 2%;
    float: left;
}

#diced:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#dicea {
    position: relative;
    width: 6%;
    height: 12%;
    border: 0.25vw solid black;
    background-color: yellowgreen;
    margin-left: 5%;
    margin-top: 2%;
    float: left;
}

#dicea:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    margin: 0;
    color: white;
    font-size: 2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


input[id=reroll] {
    margin-left: 40px;
    margin-top: 10px;
}


